.right-sidebar-container {
    position: fixed;
    right: 0;
    top: 90px;
}

.right-sidebar-ads-home h4 {
    font-weight: 600;
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
    margin-left: 10px;
}

.sidebar-ads-home img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.ads-one-home {
    position: relative;
    height: 100%;
}

.ads-two-home {
    position: relative;
    height: 100%;
}

.ads-one-home a {
    height: 120px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    transition: var(--tran);
    border-radius: 10px;
}

.ads-two-home a {
    height: 120px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    transition: var(--tran);
    border-radius: 10px;
}

.ads-one-home h5 {
    color: black;
    font-weight: 500;
}

.ads-two-home h5 {
    color: black;
    font-weight: 500;
}

.ads-title {
    margin-left: 20px;
}

.ads-title span {
    font-size: 10px;
    color: rgb(162, 162, 154);
}

.ads-one-home a:hover,
.ads-two-home a:hover {
    background: #d3d4d8;
    /* box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75); */
}

.button-remove {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #e13737;
    text-align: center;
    line-height: 30px !important;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    left: calc(100% - 40px);
    top: 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.button-remove:hover {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.ads-one-home:hover .button-remove {
    opacity: 1;
}

.ads-two-home:hover .button-remove {
    opacity: 1;
}

.rightbar-birthday h4 {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0px 10px 10px;
}

.birthday {
    height: 36px;
    width: 36px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/rbQUMcxWjZR.png);
    background-position: 0 0;
    background-size: 36px 364px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 15px;
}

.birthday-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-top: 5px;
}

.birthday-info p {
    line-height: 20px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.birthday-info a {
    color: black;
    font-weight: 600;
}

.birthday-content {
   position: relative; 
   flex-grow: 1;
}

.rightbar-contact-home {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.rightbar-icon-home {
    margin-top: -7px;
    margin-left: 100px;
}

.rightbar-contact-home h4 {
    font-weight: 600;
    font-size: 16px;
    color: #707070;
}

.right-icon-home {
    color: #707070;
    font-size: 20px;
}

.rightbar-icon-home i:hover {
    background: #e5e5e5cc;
    /* color: #fdfdfd; */
}

.rightbar-icon-home i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 20px;
    transition: var(--tran)

}

.online-user::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    bottom: 5px;
    left: 35px;
}

.online-list-home a {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 10px;
    height: 50px;
}

.online-list-home:hover {
    background: #DADDE1;
}

.name-contact h5 {
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.name-contact {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-list-home {
    position: relative;
    transition: var(--tran);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    cursor: pointer;
}

.online-list-container {
    display: flex;
}

.avatar-contact-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #eae1e1;
}

.avatar-contact-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}