:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary-color0-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --tran: all 0.3s ease;
}

.home-container {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    background: #edeff3;
}

/* .home-container .left-sidebar-container {
    margin-top: 5px;
    width: 27%;
    padding: 10px 14px;
} */

.home-container .main-content {
    margin-top: 90px;
    width: 43%;
    /* height: 1000px; */
}
.main-content {
    margin-top: 5%;
    left : 26%;
    position: relative;
}

.home-container .right-sidebar-container {
    width: 23%;
    /* height: 1000px; */
}

/* Tooltip */

.arrow {
    margin-top: 5px;
}

.tooltip-inner {
    font-size: smaller;
    padding: 8px 10px 5px 10px !important;
}

.chat-bottom-bar {
    position: fixed;
    bottom: 0;
    right: 200px;
    width: 445px;
    height: 450px;
    background: red;
    box-shadow: 0px 0px 8px #ddd;
}

.chat-bar-close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    cursor: pointer;
    color: #39f;
    font-size: 18px;
}
