.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}

.search-result-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result-container p {
  margin-left: 10px;
}

.search-result-avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #e1dddd;
}

.search-result-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.group-search-photo {
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #e1dddd;
}

.group-search-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

}