@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
}

p {
    margin-bottom: unset !important
}

.fb-nav {
    display: flex;
    justify-content: space-between;
    padding-top : 15px;
    width: 100%;
    height: 70px;
    /* border: 1px solid #777; */
    box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.2);
}

.icon-search {
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 45px;
    margin-left: 10px;
}

.search-box {
    /* width: 600px;
    height: 50px;
    margin-top: -5px;
    list-style: none;
    display: flex;
    align-items: center;
    background: #F6F5FF;
    border-radius: 20px; */
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.search-box input{
    height: 100%;
    width: 100%;
    background: #F6F5FF;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.title {
    margin-left: 20px;
    margin-top: -3px;
    font-size: 30px;
    font-weight: 600;
    color: blue;
}

.title a:hover {
    color: #1877F2;
}

a:visited {
    color: #1877F2;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.0rem;
    height: 3.0rem;
    background: transparent;
    border: 0.1rem solid #1877F2;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    color: #1877F2;
    margin: -0.2rem 0.5rem 1.5rem 0;
    transition: 0.5s ease;
}

.social-media  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a:hover {
    background: #1877F2;
    color: #fdfdfd;
}

.social-media a:hover {
    background: #1877F2;
    color: #fdfdfd;
}

.bx {
    font-size: 1.8rem;
}

.avatar {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.1rem solid #754ef9;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
}

.ava {
    margin-top: -2rem;
}

.home-media {
    display: flex;
    margin-right: 20px;
    margin-top: -3px
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.avatar-navbar {
    overflow: hidden;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.avatar-navbar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.avatar-nav {
    border: 0.1rem solid #1877F2;
    border-radius: 50%;
}

/*them css thông báo*/
.notifi-box {
    width: 380px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 70px;
    right: 35px;
    transition: 1s opacity, 100ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    border-radius: 10px;
    z-index: 2;
    background: #FFFFFF;
    overflow-y: auto;
    scrollbar-width: thin;
}

.notifi-box::-webkit-scrollbar {
    width: 8px;
}

.notifi-box::-webkit-scrollbar-thumb {
    background-color: #888888;
}

.notifi-box::-webkit-scrollbar-track {
    background-color: #F0F0F0;
}

.notifi-box::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

.notifi-box h2 {
    font-size: 25px;
    padding: 10px;
    border:none;
    color: black;
    font-weight: bold
}
.notifi-box h2 span {
    color: #f00;
}
.notifi-item {
    display: flex;
    border-bottom: 0 solid #eee;
    padding: 15px 5px;
    /*margin-bottom: 5px;*/
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.notifi-item:hover {
    background-color: lightgray;
    border-radius: 10px;
    /* margin-left: 2px;
    margin-right: 2px; */
}

.item-image {
    /* position: relative; */
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.notifi-item img {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.icon-avatar {
    /* Các thuộc tính hiện có */
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    border-radius: 50%;
    background:#1877F2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-avatar i {
    /* Các thuộc tính hiện có */
    font-size: 16px;
    color: white;
}
.notifi-item .text   {
    width: 70%;
    justify-content: start;
    /*margin-left: 10px;*/
    /*margin-right: -5px;*/
}
.notifi-item .text h4  {
    color: black;
    font-size: 17px;
    /*margin-left: 10px;*/
    /*margin-right: -5px;*/
}
.notifi-item .text p{
    font-size: 14px;
    /*margin-left: 10px;*/
    color: #1877F2;
    font-weight: bold;
}
.notifi-item .text span{
    font-size: 14px;
    margin-left: 5px;
    color: #5f5f5f;
}
.icon-read {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1877F2;
    margin-left: 8px;
    /*margin-right: 10px;*/
    margin-top: 25px

}
/*tạo thanh ray chạy*/
.scrollbar-container {
    width: 100%; /* Kích thước của container */
    height: 650px; /* Kích thước của container */
}

.scrollbar-container .scrollbar-track {
    background-color: #F0F0F0; /* Màu sắc của phần còn lại của thanh ray */
}

.scrollbar-container .scrollbar-thumb {
    background-color: #888888; /* Màu sắc của nút kéo */
}
/*het*/

.card-text:hover {
    text-decoration: underline !important;
}

.card-title:hover {
    text-decoration: underline !important;
    cursor: pointer;
}