.msb {
    width: 100%;
    height: 700px;
}

.side-menu-container {
    height: 10%;
}

.intro-profile {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 20px 20px;
    color: black;
}

.text-intro {
    font-size: 18px;
    margin-left: 20px;

}

.border-text-intro {
    display: flex;
    align-items: center;
    height: 40px;
    background: #ffffff; /* Màu nền mặc định */
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.border-text-intro.focused {
    background: #E7F3FF;
    width: 100%;
    color: #4D96F5;
}